spring:
  application:
    name: shortly-url-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    open-in-view: false

  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        batch.size: 32768
        compression.type: lz4
        linger.ms: 10
        spring.json.add.type.headers: false

server:
  port: 8081
  tomcat:
    threads:
      max: 300
      min-spare: 30
    accept-count: 300
    max-connections: 1000

logging:
  file:
    name: logs/shortly-url-service.log
  level:
    root: INFO
    com.io.shortly.url: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    enable:
      tomcat: true
      jvm: true
      process: true
      system: true
      hikaricp: true
      http: true
    distribution:
      percentiles-histogram:
        http.server.requests: true

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs

resilience4j:
  ratelimiter:
    instances:
      shorten-api:
        limitForPeriod: 100
        limitRefreshPeriod: 1s
        timeoutDuration: 0
