spring:
  jpa:
    hibernate:
      ddl-auto: create-drop

  datasource:
    jdbc-url: jdbc:mysql://localhost:3307/shortly_url?createDatabaseIfNotExist=true&rewriteBatchedStatements=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      pool-name: UrlHikariPool

  kafka:
    bootstrap-servers: localhost:9092
