shortly:
  url-service:
    base-url: ${URL_SERVICE_URL:http://localhost:8081}

server:
  port: 8082
  tomcat:
    mbeanregistry:
      enabled: true
    threads:
      max: 400
      min-spare: 50

spring:
  application:
    name: shortly-redirect-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP:redirect-service-group}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "com.io.shortly.shared.event"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 1           # Leader만 확인 (클릭 이벤트는 유실 허용)
      properties:
        linger.ms: 10   # 배치 처리로 성능 향상
    listener:
      ack-mode: batch                               # 자동 커밋

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

logging:
  file:
    name: logs/shortly-redirect-service.log
  level:
    root: INFO
    com.io.shortly.redirect: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    enable:
      tomcat: true
      jvm: true
      process: true
      system: true
      http: true

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs

---
# prod
spring:
  config:
    activate:
      on-profile: prod

logging:
  level:
    root: INFO
    com.io.shortly.redirect: INFO
