shortly:
  cache:
    l1:
      max-size: 100000
      ttl: 10m
    l2:
      ttl: 30m

server:
  port: 8082
  tomcat:
    threads:
      max: 300
      min-spare: 30
    accept-count: 300
    max-connections: 1000

spring:
  application:
    name: shortly-redirect-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  threads:
    virtual:
      enabled: true

  data:
    redis:
      lettuce:
        pool:
          # 최대 연결 수 (Tomcat max threads와 동일하게 설정)
          max-active: 300
          # 유휴 연결 최대 수
          max-idle: 100
          # 유휴 연결 최소 수 (사전 할당)
          min-idle: 50
          # 연결 대기 최대 시간 (밀리초)
          max-wait: 1000ms
          # 유휴 연결 제거 주기
          time-between-eviction-runs: 60s
        # 연결 타임아웃
        shutdown-timeout: 100ms
      # 커맨드 타임아웃 (Redis 명령 실행 제한 시간)
      timeout: 1000ms
      # 연결 타임아웃
      connect-timeout: 2000ms

  kafka:
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP:redirect-service-group}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      max-poll-records: 1000
      properties:
        spring.json.trusted.packages: "com.io.shortly.shared.event"
        spring.json.value.default.type: "com.io.shortly.shared.event.UrlCreatedEvent"
        max.poll.interval.ms: 300000
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 0
      buffer-memory: 33554432 # 32MB
      properties:
        batch.size: 32768 # 32KB
        compression.type: lz4
        linger.ms: 10
        spring.json.add.type.headers: false
    listener:
      ack-mode: batch

logging:
  file:
    name: logs/shortly-redirect-service.log
  level:
    root: INFO
    com.io.shortly.redirect: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    enable:
      tomcat: true
      jvm: true
      process: true
      system: true
      http: true

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs

resilience4j:
  circuitbreaker:
    instances:
      url-service:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10

