shortly:
  cache:
    l1:
      max-size: 100000
      ttl: 10m
    l2:
      ttl: 30m

server:
  port: 8082
  tomcat:
    threads:
      max: 300
      min-spare: 30
    accept-count: 300
    max-connections: 1000

spring:
  application:
    name: shortly-redirect-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  threads:
    virtual:
      enabled: true

  data:
    redis:
      lettuce:
        pool:
          max-active: 300
          max-idle: 100
          min-idle: 50
          max-wait: 1000ms
          time-between-eviction-runs: 60s
        shutdown-timeout: 100ms
      timeout: 1000ms
      connect-timeout: 2000ms

  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      buffer-memory: 16777216
      batch-size: 8192
      acks: 1
      retries: 3
      properties:
        enable.idempotence: true
        spring.json.add.type.headers: false
        delivery.timeout.ms: 120000
        request.timeout.ms: 30000

logging:
  file:
    name: logs/shortly-redirect-service.log
  level:
    root: INFO
    com.io.shortly.redirect: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    enable:
      tomcat: true
      jvm: true
      process: true
      system: true
      http: true
      kafka.producer: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
        spring.kafka.template: true
      percentiles:
        http.server.requests: 0.95, 0.99
        spring.kafka.template: 0.95, 0.99
  observations:
    http:
      server:
        requests:
          name: http.server.requests
  server:
    request:
      autotime:
        enabled: true
        percentiles: 0.95, 0.99
    tags:
      status: true

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs
