spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bitly_test?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

logging:
  level:
    com.io.bitly: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: INFO
